body {
   background-color: #141414;
}
div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 95vh;
}
p {
   color: #bada55;
   font-size: 40px;
   font-weight: 700;
   font-family: "Courier New", Courier, monospace;
   text-transform: uppercase;
}
span {
   color: #2c3515;
}
@media (max-width: 1026px) {
   p {
      font-size: 30px;
   }
}
@media (max-width: 774px) {
   p {
      font-size: 20px;
   }
}
@media (max-width: 526px) {
   p {
      font-size: 14px;
   }
}
